.phone {
  font-size: 26px;
  margin: 15px;
  margin-left: 30%;
  margin-right: 30%;
  padding: 70px;
  border: 1px solid #bbb;
  background-color: #eee;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.detail {
  font-size: 13px;
  margin: 15px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 70px;
  border: 1px solid #bbb;
  background-color: #eee;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

.phoneTitle {
  text-align: center;
}

.link {
  color: black;
  text-decoration: unset;
}

.image {
  margin-top: 10%;
  margin-bottom:-10%;
  max-width:100%;
  max-height:100%
}

.imageDetails {
  margin-top: 0%;
  margin-bottom:0%;
  max-width:70%;
  max-height:70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.buttonDiv {
  margin-left: 370px;
  margin-top: -15px;
  margin-bottom: 50px;
}

.button {
  font-size: larger;
  margin-left: 50%;
  background-color: rgb(14, 183, 150)
}

